<section class="hero is-fullheight has-text-centered has-background-white-ter" id="contact">
    <div class="hero-body">
        <div class="container">

            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button  is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
        </div>
    </div>
</section>
