<section class="hero is-fullheight has-text-centered" id="features">
    <div class="hero-body">
    <div class="container">
        <h1 class="title bd-hero-title has-text-centered">Features</h1>
        <hr>
        <div class="columns is-centered">
            <!-- Feature 1 -->
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Feature 1 Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Digital Fabrication</p>
                            </div>
                        </div>
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <br>
                        </div>
                    </div>
                </div>
            </div>

           <!-- Feature 1 -->
           <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Feature 1 Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Procedural Animation</p>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <br>
                    </div>
                </div>
            </div>
        </div>


<!-- Feature 1 -->
<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Feature 1 Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">Digital Twin</p>
                </div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                <br>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
</section>