<section class="hero is-fullheight has-text-centered" id="features">
    <div class="hero-body">
    <div class="container">
        <h1 class="title bd-hero-title has-text-centered">Features</h1>
        <hr>
        <div class="columns is-centered">
            <!-- Feature 1 -->
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure>
                            <img src="assets/images/realtime.gif" alt="Feature 1 Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Real Time Control</p>
                            </div>
                        </div>
                        <div class="content">
                            Jog the robot in real time in the blender interface or with a gamepad.
                            <br>
                        </div>
                    </div>
                </div>
            </div>

           <!-- Feature 1 -->
           <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure>
                        <img src="assets/images/procedural.gif" alt="Feature 1 Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Procedural Animation</p>
                        </div>
                    </div>
                    <div class="content">
                        Take advantage of Blender's animation tools to make your robot move.
                        <br>
                    </div>
                </div>
            </div>
        </div>


<!-- Feature 1 -->
<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="assets/images/test.gif" alt="Feature 1 Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">Digital Twin Monitoring</p>
                </div>
            </div>
            <div class="content">
                Real time monitoring.
                <br>
            </div>
        </div>
    </div>
</div>
</div>

        <div class="columns is-centered">
            <!-- Feature 1 -->
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure >
                            <img src="assets/images/df.gif" alt="Feature 1 Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Visual Programing </p>
                            </div>
                        </div>
                        <div class="content">
                            Works out of the box with FabNodes Geometry Nodes for Digital Fabrication.
                            <br>
                        </div>
                    </div>
                </div>
            </div>

           <!-- Feature 1 -->
           <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure>
                        <img src="assets/images/vr.gif" alt="Feature 1 Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">VR/XR ready</p>
                        </div>
                    </div>
                    <div class="content">
                        VR and XR integration with Freebird XR.
                    <br>
                    </div>
                </div>
            </div>
        </div>


<!-- Feature 1 -->
<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure>
                <img src="assets/images/iot.gif" alt="Feature 1 Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">IOT end-effector integration</p>
                </div>
            </div>
            <div class="content">
                IOT Plug and play connection to Multiple end-effectors and actuators.
                <br>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
</section>